{
  "presets": [
    [
      "@babel/env",
      {
        "useBuiltIns": "usage",
        "corejs": 3,
        "debug": false
      }
    ]
  ],
  "plugins": [

    ["@babel/proposal-decorators", { "legacy": true }],
    ["@babel/proposal-class-properties", { "loose": true }]

  ],
  "env": {
    "test": {
      "presets": [
        [
          "@babel/env",
          {
            "targets": {
              "node": "current"
            }
          },
          "@babel/preset-typescript"
        ]
      ],
      "plugins": ["@babel/plugin-transform-runtime"]
    }
  }
}
