{
  "root": true,
  "parserOptions": {
    "parser": "@babel/eslint-parser"
  },
  "extends": [
    "airbnb-base",
    "plugin:compat/recommended",
    "plugin:cypress/recommended",
    "plugin:vue/vue3-recommended",
    "prettier"
  ],
  "ignorePatterns": ["!.vuepress"],
  "plugins": ["import", "html", "vue", "vitest"],
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [["~", "./src"]]
      }
    }
  },
  "rules": {
    "vue/max-attributes-per-line": "off",
    "vue/html-self-closing": "off",
    "vue/singleline-html-element-content-newline": "off",
    "import/prefer-default-export": "off",
    "import/extensions": [
      "error",
      "always",
      {
        "js": "never"
      }
    ],
    "import/no-extraneous-dependencies": "off",
    "no-console": ["error", { "allow": ["info", "warn", "error"] }],
    "no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_"
      }
    ],
    "no-use-before-define": [
      "error",
      {
        "functions": false,
        "classes": true,
        "variables": true
      }
    ],
    "max-nested-callbacks": ["error", { "max": 3 }],
    "max-statements": [
      "error",
      {
        "max": 10
      },
      {
        "ignoreTopLevelFunctions": false
      }
    ],
    "complexity": [
      "error",
      {
        "max": 5
      }
    ],
    "max-depth": [
      "error",
      {
        "max": 2
      }
    ],
    "max-params": [
      "error",
      {
        "max": 3
      }
    ],
    "max-lines-per-function": [
      "warn",
      {
        "max": 100,
        "skipComments": true,
        "skipBlankLines": true
      }
    ],
    "vue/component-name-in-template-casing": [
      "error",
      "PascalCase",
      { "registeredComponentsOnly": false }
    ],
    "vue/no-deprecated-scope-attribute": "error",
    "arrow-body-style": "off"
    // 'vitest/no-skipped-tests': 2,
  },
  "overrides": [
    {
      "files": ["*.spec.js", "test/e2e/specs/*/index.js", "*.config.js"],
      "rules": {
        "max-lines-per-function": "off",
        "max-statements": "off",
        "max-nested-callbacks": "off",
        "complexity": "off"
      }
    }
  ],
  "env": {
    "browser": true
  }
}
