{
  "semi": false,
  "quoteProps": "consistent",
  "trailingComma": "all",
  "singleQuote": true,
  "singleAttributePerLine": true,
  "htmlWhitespaceSensitivity": "ignore",
  "htmlSingleAttributePerLine": true
}
