.rtl {
  direction: rtl;
}

.vdp-datepicker {
  position: relative;
  text-align: left;

  * {
    box-sizing: border-box;
  }
}

.vdp-datepicker__clear-button,
.vdp-datepicker__calendar-button {
  cursor: pointer;
  font-style: normal;

  &.disabled {
    color: #999;
    cursor: default;
  }
}
