.rtl {
  direction: rtl;
}

.vdp-datepicker {
  position: relative;
  text-align: left;

  * {
    box-sizing: border-box;
  }

  .calendar-btn-disabled {
    cursor:not-allowed;
  }
}

.vdp-datepicker__calendar {
  position: absolute;
  z-index: 10000;
  background: #fff;
  width: 300px;
  border: 1px solid #ccc;

  &.inline{
    position: static;
  }

  header {
    //display: block;
    display: flex;
    justify-content: space-between;
    line-height: 40px;
    height: 40px;

    button {
      display: inline-block;
      //display: block;
      flex-grow: 5;
      text-align: center;
      background: inherit;
      border: none;
      //width: 71.42857142857143%;
      //float: left;
    }

    .prev,
    .next {
      max-height: 40px;
      //width: 14.285714285714286%;
      //float: left;
      flex-grow: 1;
      position: relative;

      .default {
        text-indent: -10000px;

        &:after {
          content: '';
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translateX(-50%) translateY(-50%);
          border: 6px solid transparent;
        }
      }
    }

    .prev {
      .default {
        &:after {
          border-right: 10px solid #000;
          margin-left: -5px;
        }

        &.disabled:after {
          border-right: 10px solid #ddd;
        }
      }
    }

    .next {
      .default {
        &:after {
          border-left: 10px solid #000;
          margin-left: 5px;
        }

        &.disabled:after {
          border-left: 10px solid #ddd;
        }
      }
    }

    .prev:not(.disabled),
    .next:not(.disabled),
    .up:not(.disabled) {
      cursor: pointer;

      &:hover {
        background: #eee;
      }
    }
  }

  .disabled {
    color: #ddd;
    cursor: default;
  }

  .flex-rtl {
    display: flex;
    width: inherit;
    flex-wrap: wrap;
  }

  .cell {
    background: inherit;
    border: 1px solid transparent;
    display: inline-block;
    padding: 0 5px;
    width: 14.285714285714286%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;

    &:not(.blank):not(.disabled).day,
    &:not(.blank):not(.disabled).month,
    &:not(.blank):not(.disabled).year {
      cursor: pointer;

      &:hover {
        border: 1px solid #4bd;
      }
    }

    &.selected {
      background: #4bd;

      &:hover {
        background: #4bd;
      }

      &.highlighted {
        background: #4bd;
      }
    }

    &.highlighted {
      background: #cae5ed;

      &.disabled {
        color: #a3a3a3;
      }
    }

    &.muted {
      color: #a3a3a3;

      &.selected {
        color: #104756;
      }

      &.disabled {
        color: #ddd;
      }

      &:hover {
        background: inherit;
      }
    }

    &.day-header {
      font-size: 75%;
      white-space: nowrap;
      cursor: inherit;

      &:hover {
        background: inherit;
      }
    }
  }

  .month,
  .year {
    width: 33.333%;
  }

  .picker-view {
    width: inherit;
  }
}

.vdp-datepicker__clear-button,
.vdp-datepicker__calendar-button {
  cursor: pointer;
  font-style: normal;

  &.disabled {
    color: #999;
    cursor: default;
  }
}
