@import '../../../dist/style.css';

.example input,
.example select {
  padding: 0.75em 0.5em;
  font-size: 100%;
  border: 1px solid #cccccc;
  width: 100%;
  box-sizing: border-box;
}

.example select {
  line-height: 2.5em;
}

.example {
  padding: 0 0 1em;
}

.example code {
  border: 1px solid #ccc;
  border-radius: 0.5em;
  display: block;
  margin-top: 1em;
  padding: 1em;
}

.settings {
  background: #eee;
  border: 1px solid #ccc;
  padding: 1em;
  margin: 1em 0;
  border-radius: 0.5em;
}

.settings h5 {
  margin: 0;
  padding: 0;
}

.settings pre {
  margin: 0;
  padding: 0;
}

.settings label {
  padding-bottom: 0.3em;
}

input,
select {
  background-color: #fff;
  border: 1px solid #cccccc;
  border-radius: 0.3em;
  box-sizing: border-box;
  font-size: 100%;
  padding: .75em .5em;
  width: 100%;
}

h3 {
  padding: 1em 0;
}

.form-group {
  margin-bottom: 1em;
}

.form-group label {
  font-size: 80%;
  display: block;
}

.example pre {
  color: #333;
}

.error {
  color: red;
  font-style: italic;
  margin-top: 0.5em;
}

.overflow-scroll {
  overflow: scroll;
}
